* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/*Style for login/register*/
.placeholder-text-size::placeholder {
  font-size: 15px; 
}

.custom-non-rounded {
  border-radius: 0 !important;
  border: 1px solid black !important;
}

.custom-form-control {
  width: 100%;
  height: 55px;
  border-radius: 50%;
}

.btn-custom {
  width: 100%;
  height: 57px;
  border-radius: 0;
}

/*style for navbar*/

.custom-navbar {
  background-color: black !important;
}

.navbar-toggler-bar {
  background-color: white !important; /* Change the color to white */
}

.custom-navbar .nav-link {
  color: whitesmoke !important;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.custom-navbar .nav-link:hover {
  color: whitesmoke !important;
  text-decoration: underline;
}

.nav-brand {
  color: white !important;
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #e4e4e4;
  width: 100%;
  height: 50px; 
  margin: 0 auto; 
  padding: 5px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  border-radius: 0 !important;
  width: 100%;

}

.search-button {
  background-color: #f8f8f8;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  height: 40px;
}


.search-button i {
  font-size: 20px;
}


.material-symbols-outlined {
  color: #43464d!important;
}



/*Carousel image*/
.carousel-container {
  width: auto;
  height: 50%;

}

.carousel-item {
  height: 50% !important;
  width: 100% !important;
}

.carousel-image {
  width: 100%; 
  height: 50% !important;

}


/*Dashboard button*/
.admin-dashboard {
  font-family: 'Zilla Slab', serif;
  font-weight: bolder;
}

.d-btn {

  width: 20%;
  height: 57px;
  border-radius: 0 !important;
}



/*CSS for cards*/

.card {
  height: 100% !important;
/*  width: 280px !important;*/
}


.card-btn {
  margin-top: auto;
  border-radius: 0 !important;
}


/*Profile anchor tags*/

.a-link {
  color: inherit; /* This will inherit the text color from the parent element */
  text-decoration: none; /* Remove underline */
}

.p-link {
  font-size: 13px;
}


/*Text*/

.text-style {

  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0.2px 0px rgba(0,99,64,255);

}

.card-styles{

 
  font-weight: bold;
  font-size: 20px;

}

.home-btn {
  background-color: rgba(0,99,64,255) !important;
  color: white !important;
  font-weight: bolder !important;
}

.product-view-btn {
  width: 150px !important;

  font-weight: bolder !important;
}

.image-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.image-sn {
  width: 100%; /* Ensures the image takes up 100% of the container width */
  height: auto; /* Allows the image to maintain its aspect ratio */
}
.card-border {
  border: none !important;
}


.card-check {

/*  width: 450px !important;*/
  height: 330px !important;
  padding-top: 15px !important;
  margin-top: 130px;
}




/*Product preview*/

.preview-text {

  font-family: 'Inter', sans-serif;
  font-weight: bolder !important;
  font-size: 30px !important;
}

.preview-sub-text {
  font-family: 'Inter', sans-serif;
  font-weight: bolder !important;
}

.brand-carousel {
  height: 450px !important;
  width: 2400px !important;
}


.product--image {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.cardss {
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 320px;
  border: none !important;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.carousel-text {
  margin: 1rem auto 4rem;
}


.text-top {
  font-size: 21px;
  font-weight: bold;
}


.footer {
  margin-top: auto !important;
}

.spacing {
  height: 100vh !important;
}


.footer-form {
  border-radius: 0 !important;
  height: 40px;
}

.footer-links {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  opacity: 0.7;
  transition: 0.5s;

}

.footer-links:hover {
  opacity: 1;
}

.footer-margin {
  margin-left: 50px;
}

.footer-h {
  color: white;
  text-align: start;
  margin-bottom: 25px;
  font-size: 22px;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}

.footer-btn {
  border-radius: 0px !important;
  width: 50%;
  height: 45px;
  background-color: #e91e64!important;
  border: none !important;
}


/*cart item*/
.cart-q {
  margin-right: 7px !important ;
  font-weight: normal;
}